
<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>À Propos</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <h3>Qui es-tu ?</h3>
        <p>Une maman de deux enfants, auto-entrepreneure quelques heures par semaine, passionnée d'éducation et des questions du vivre ensemble et formée en Discipline Positive et en CNV.</p>
        <h3>Pourquoi tu fais ça ?</h3>
        <p>Parce qu'on a tous envie de vivre des relations riches et apaisées. Et que coopérer c'est comme tout. Ça s'apprend ! :)</p>
        <!-- <p>Alors j'ai envie de transmettre des outils et une approche qui aide les personnes à prendre soin d'eux-même pour prendre soin des autres et ainsi permettre une forte coopération.</p> -->
        <h3>Ça se passe comment ?</h3>
        <p>Je propose des cycles d'ateliers ou des conférences bourrés d'activités de groupe pendant lesquelles on bouge, on participe, on vit pleinement ce que l'on apprend.</p>
      </div>
      <div class="col-lg-4">
        <h3>C'est pour qui ?</h3>
        <p>J'interviens principalement en classe et auprès des enseignants, mais aussi auprès de groupes de parents.</p>
        <h3>Discipline Positive ?</h3>
        <p>La Dicipline Positive est une approche éducative qui propose de voir les défis du quotidien (colères, pleurs, conflits, écrans, opposition…) comme des opportunités d’améliorer ses compétences de vie. </p>
        <p>J'ai choisi cette démarche parce qu'elle se fonde sur des principe fondateurs universels qui agissent comme un "GPS", une direction qui nous aide dans nos relations mais propose aussi des outils très concrets et facile à mettre en place et aussi  
      </div>
      </div>
    </div>
  </div>
</section>
